body {
   /* background-image: url("https://img.freepik.com/premium-vector/dark-grunge-filmstrip-abstract-background-vector-design_88343-249.jpg?w=2000") ;
    background-repeat: no-repeat;
    background-size: cover;*/
    background-color: rgb(2, 2, 46);
}